@{
    ViewData["Title"] = "Home Page";
}   
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
<style>

.col-4 {
border-style: inset;
}
</style>
</head>

  <body>


<div class="text-center">
    <h1 class="display-4">APP BUSCO</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="row">
  <div class="col-4">Solicitud 1</div>
  <div class="col-4">Solicitud 2</div>
  <div class="col-4">Solicitud 3</div>
</div>

<div class="row">
  <div class="col-4">.f1-c1</div>
  <div class="col-4">.f1-c2</div>
  <div class="col-4">.f1-c3</div>
</div>

<div class="row">
  <div class="col-4">.f2-c1</div>
  <div class="col-4">.f2-c2</div>
  <div class="col-4">.f2-c3</div>
</div>

<div class="row">
  <div class="col-4">.f3-c1</div>
  <div class="col-4">.f3-c2</div>
  <div class="col-4">.f3-c3</div>
</div>

<div class="row">
  <div class="col-4">.f4-c1</div>
  <div class="col-4">.f4-c2</div>
  <div class="col-4">.f4-c3</div>
</div>

<div class="row">
  <div class="col-4">.f5-c1</div>
  <div class="col-4">.f5-c2</div>
  <div class="col-4">.f5-c3</div>
</div>

<div class="row">
  <div class="col-4">.f6-c1</div>
  <div class="col-4">.f6-c2</div>
  <div class="col-4">.f6-c3</div>
  </div>
<div class="row">
  <div class="col-4">.f7-c1</div>
  <div class="col-4">.f7-c2</div>
  <div class="col-4">.f7-c3</div>
</div>

</body>
</html>